#sabotage {
    padding: 10px;
   
    background: red;
    animation: sabotage 2s infinite;
  }
  
  @keyframes sabotage {
    0% {background-color: red;}
    50% {background-color: white;}
    100% {background-color: red;}
  }